$color-primary: rgb(45, 48, 12);
$color-secondary: #B35340;
$color-dark: #6F3637;
$color-light: #EEF3DB;
$color-accent: rgb(9, 21, 24);
$app-color: #495A3A;

$header-font: "Montserrat", ;
$body-font: "Montserrat", ;

html, body {
    height: 100%;
    .app-background {
        background-color: $app-color;
    }
}

.navbar {
    background-color: white;
    h2 {
        font-family: $header-font;
        font-weight: bold;
        color: $color-accent;
    }
    .nav-item {
        .active {
            font-weight: 15px;
            border-radius: 4px;
            color: white;
        }
    }
}

.navbar-app {
    background-color:$app-color;
    h2 {
        font-family: $header-font;
        font-weight: bold;
        color: white;
    }
    .nav-item {
        .active {
            font-weight: 15px;
            border-radius: 4px;
            color: white;
        }
    }
}

.header-home {
    color: $color-accent;
    height: 200px;
    h1 {
        font-size: 60px;
        color: $color-accent;
    }
    h2 {
        font-size: 23px;
        padding-bottom: 20px;
        color: $color-dark;
    }
}

body {
    background-color: $color-accent;
    font-family: $body-font
}

h1 {
    font-family: $header-font;
}

h2 {
    font-family: $body-font;
}

.learn-content {
    padding-top: 80px;
    padding-bottom: 80px;
    h3 {
        padding-bottom: 20px;
        color: whitesmoke;
    }
    p {
        padding-bottom: 20px;
    }
    h1 {
        background-color: whitesmoke;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        color: $color-accent;
    }
}

.site-footer {
    background-color: black;
    color: whitesmoke;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-caption {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  }

  @media screen and (max-width: 768px) 
     {    .carousel-caption {
          bottom: 20px !important;
          }
          .carousel-caption h2 { 
          font-size : 60px !important; 
          }
     }
.card-full {
    min-height: 350px;
    height: 100vh;
    padding-top: 200px;
    }    
    
