html, body {
  height: 100%; }
  html .app-background, body .app-background {
    background-color: #495A3A; }

.navbar {
  background-color: white; }
  .navbar h2 {
    font-family: "Montserrat";
    font-weight: bold;
    color: #091518; }
  .navbar .nav-item .active {
    font-weight: 15px;
    border-radius: 4px;
    color: white; }

.navbar-app {
  background-color: #495A3A; }
  .navbar-app h2 {
    font-family: "Montserrat";
    font-weight: bold;
    color: white; }
  .navbar-app .nav-item .active {
    font-weight: 15px;
    border-radius: 4px;
    color: white; }

.header-home {
  color: #091518;
  height: 200px; }
  .header-home h1 {
    font-size: 60px;
    color: #091518; }
  .header-home h2 {
    font-size: 23px;
    padding-bottom: 20px;
    color: #6F3637; }

body {
  background-color: #091518;
  font-family: "Montserrat"; }

h1 {
  font-family: "Montserrat"; }

h2 {
  font-family: "Montserrat"; }

.learn-content {
  padding-top: 80px;
  padding-bottom: 80px; }
  .learn-content h3 {
    padding-bottom: 20px;
    color: whitesmoke; }
  .learn-content p {
    padding-bottom: 20px; }
  .learn-content h1 {
    background-color: whitesmoke;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #091518; }

.site-footer {
  background-color: black;
  color: whitesmoke; }

.carousel-item {
  height: 100vh;
  min-height: 350px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

@media screen and (max-width: 768px) {
  .carousel-caption {
    bottom: 20px !important; }
  .carousel-caption h2 {
    font-size: 60px !important; } }

.card-full {
  min-height: 350px;
  height: 100vh;
  padding-top: 200px; }
